$def with (categoria, recetas)
<html>
<body>
<h1>Filtrar por categoría</h1>
<a href="/filtro?categoria=Salado">Salado</a> |
<a href="/filtro?categoria=Dulce">Dulce</a> |
<a href="/filtro?categoria=Agridulce">Agridulce</a> |
<a href="/filtro?categoria=Picosa">Picosa</a> |
<a href="/filtro?categoria=Pastas">Pastas</a> |
<a href="/filtro?categoria=Aderezos">Aderezos</a> |
<a href="/filtro?categoria=Cortes">Cortes</a> |
<a href="/filtro?categoria=Mariscos">Mariscos</a>

$if categoria:
    <h2>$categoria</h2>
    $for receta in recetas:
        <p><b>$receta[0]</b><br>$receta[1]</p>

<p><a href="/">Agregar receta</a></p>
</body>
</html>
